.block-hero-home {
  &__media {
    & > :first-child {
      height: 30%;
      width: auto;
      top: 6%;
      left: 56%;

      @include media-breakpoint-down(md) {
        height: 25%;
        top: 11%;
      }
    }
    & > :nth-child(2) {
      height: 45%;
      width: auto;
      top: 37%;
      left: 1%;
      @include media-breakpoint-down(md) {
        height: 21%;
        top: 24%;
        z-index: 0;
      }
    }
    & > :nth-child(3) {
      height: 25%;
      width: auto;
      top: 50%;
      left: 70%;
    }
  }
}
