.block-best-projects {
  --card-h: 60svh;
  --pad: calc((100svh - var(--card-h)) / 2);

  &__content {
    will-change: transform;
  }
  &__card {
    width: 80%;
    @include media-breakpoint-up(md) {
      width: 500px !important;
    }
  }
  //!! SI USO height: 100svh; QUITAR ESTE BEFORE Y AFTER Y CAMBIAR min-height a 100svh
  &__content::before,
  &__content::after {
    content: "";
    display: block;
    height: var(--pad);
    flex: 0 0 var(--pad); /* por si usas display:flex */
  }

  &__item {
    min-height: 60svh;
    display: block;
    transform-origin: center;
    will-change: transform, opacity;
    transition: filter 0.2s linear;
  }

  &__media {
    height: 300px;
    //  width: 500px;
  } // permite que la imagen “llene”
  &__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__relative-object {
    //  width: 47em;

    &-before {
      padding-top: 75%;
    }
  }

  &__card-drag {
    color: #fff;
    -webkit-user-select: none;
    user-select: none;
    background-color: #000;
    border-radius: 1em;
    width: 25.5em;
    height: 36.5em;
    &-before {
      padding-top: 150%;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0; // top:0; right:0; bottom:0; left:0;
    background: rgba(0, 0, 0, 0.2); // negro con transparencia
    z-index: 1;
    pointer-events: none; // para no bloquear clicks en el botón
  }

  &__btn {
    background-color: #000;
    border-radius: 0.375em;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4em);
    height: 3.25em;
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom: 2em;
    left: 2em;

    &-span {
      color: #fff;
      font-size: 1em;
      font-weight: 500;
    }
  }
}

[data-projects-cards-dragger] {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: auto;
  touch-action: pan-y;
}

/* Position Slides */
[data-projects-cards-item-status] .flick-card__media {
  transition: opacity 0.2s ease;
  opacity: 0.5;
}

[data-projects-cards-item-status="2-before"] .flick-card__media,
[data-projects-cards-item-status="2-after"] .flick-card__media {
  transition: opacity 0.2s ease;
  opacity: 0.75;
}

[data-projects-cards-item-status="active"] .flick-card__media {
  opacity: 1;
}

/* Animate Button */
[data-projects-cards-item-status] .flick-card__btn {
  transition: opacity 0.4s cubic-bezier(0.625, 0.05, 0, 1),
    1s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0;
  transform: translate(0%, 50%) rotate(0.001deg);
}

[data-projects-cards-item-status="active"] .flick-card__btn {
  opacity: 1;
  transform: translate(0%, 0%) rotate(0.001deg);
}
