.block-hero-services {
  &__media {
    & > :first-child {
      height: 30%;
      width: auto;
      top: 6%;
      left: 56%;
    }
    & > :nth-child(2) {
      height: 45%;
      width: auto;
      top: 37%;
      left: 1%;
      z-index: 3;
    }
    & > :nth-child(3) {
      height: 25%;
      width: auto;
      top: 50%;
      left: 70%;
    }
  }
}
