.block-single-description {
  &__image {
    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
  }
  &__image-wrap {
    width: 100%;
    height: 425px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      height: 350px;
      padding: 0 !important;
    }
  }
}
