.cursor {
  z-index: 100;
  background-color: var(--cor-primary);
  border: 1px solid var(--cor-primary);
  border-radius: 100em;
  width: 1em;
  height: 1em;
  transition: background-color 0.375s cubic-bezier(0.625, 0.05, 0, 1),
    height 0.375s cubic-bezier(0.625, 0.05, 0, 1),
    width 0.375s cubic-bezier(0.625, 0.05, 0, 1);
  position: fixed;
  inset: 0% auto auto 0%;
  pointer-events: none;
}

body:has(a:hover) .cursor,
body:has(button:hover) .cursor,
body:has([data-cursor]:hover) .cursor {
  width: 3em;
  height: 3em;
  background-color: rgba(var(--bs-primary-rgb), 0.7);
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}

.cursor-text {
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  color: $cor-light;
  background-color: $cor-primary;
  border-radius: 0.25em;
  padding: 0.4em 0.75em 0.3em;
  font-size: 1em;
  transition: opacity 0.2s;
  position: fixed;
  inset: 0% auto auto 0%;
}

body:has([data-cursor]:hover) .cursor-text {
  opacity: 1;
}
