.cursor {
  z-index: 100;
  background-color: var(--cor-primary);
  border: 1px solid var(--cor-primary);
  border-radius: 100em;
  width: 1em;
  height: 1em;
  transition: background-color 0.375s cubic-bezier(0.625, 0.05, 0, 1),
    height 0.375s cubic-bezier(0.625, 0.05, 0, 1),
    width 0.375s cubic-bezier(0.625, 0.05, 0, 1);
  position: fixed;
  inset: 0% auto auto 0%;
  pointer-events: none;
}

body:has(a:hover) .cursor,
body:has(button:hover) .cursor,
body:has([data-cursor]:hover) .cursor {
  width: 3em;
  height: 3em;
  background-color: rgba(var(--bs-primary-rgb), 0.7);
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}

// .cursor-work {
//   z-index: 1000;
//   opacity: 0;
//   pointer-events: none;
//   color: #efeeec;
//   background-color: #ff4c24;
//   border-radius: 0.25em;
//   padding: 0.3em 0.75em 0.4em;
//   font-size: 1em;
//   transition: opacity 0.2s;
//   position: fixed;
//   inset: 0% auto auto 0%;
// }

// .cursor-paragraph {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .button-row {
//   grid-column-gap: 0.75em;
//   grid-row-gap: 0.75em;
//   justify-content: flex-start;
//   align-items: center;
//   width: 100%;
//   padding-left: 1.5em;
//   padding-right: 1.5em;
//   display: flex;
// }

// .button {
//   color: #131313;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 6em;
//   padding-left: 1.5em;
//   padding-right: 1.5em;
//   font-size: 1em;
//   text-decoration: none;
//   display: flex;
//   position: relative;
// }

// .button-text {
//   z-index: 1;
//   margin-top: 0;
//   margin-bottom: 0;
//   position: relative;
// }

// .button-bg {
//   z-index: 0;
//   background-color: #efeeec;
//   border-radius: 0.5em;
//   width: 100%;
//   height: 100%;
//   transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
//   position: absolute;
//   inset: 0%;
// }

// body:has([data-cursor-work]:hover) .cursor {
//   opacity: 1;
// }

// .button:hover .button-bg {
//   transform: scale(0.95);
// }
