.block-check-footer {
  grid-column-gap: 7.5em;
  grid-row-gap: 7.5em;
  letter-spacing: -0.02em;
  min-height: 100svh;
  font-weight: 600;
  padding-top: 6rem !important;

  &__logo-row {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  &__a {
    color: var(--cor-light);
    text-decoration: none;
  }
}

.footer-wrap__dark {
  opacity: 0;
  pointer-events: none;
  background-color: #201d1d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .check-footer__links-row {
    flex-flow: column;
  }

  .check-footer__logo-row {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }

  .check-footer__col {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .check-footer {
    padding-left: 1em;
    padding-right: 1em;
  }

  .demo-eyebrow {
    font-size: 1em;
  }

  .check-footer__col {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .check-footer__a {
    font-size: 1.75em;
  }
}

[data-underline-link] {
  text-decoration: none;
  position: relative;
}

[data-underline-link]::before {
  content: "";
  position: absolute;
  bottom: -0.0625em;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: currentColor;
  transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
}

@media (hover: hover) and (pointer: fine) {
  [data-hover]:hover [data-underline-link]::before,
  [data-underline-link]:hover::before {
    transform-origin: left;
    transform: scaleX(1) rotate(0.001deg);
  }
}
