.loader {
  z-index: 100;
  color: $cor-primary;
  height: 100dvh;
  inset: 0% 0% auto;
  &__bg {
    inset: 0%;
  }
  &__bg-bar {
    height: 0.5em;
    transform-origin: 0% 50%;
    transform: scaleX(0); /* en 2D, no scale3d */
    transform-style: flat; /* o directamente elimínalo */
    will-change: transform;
  }
  &__logo-wrap {
    width: 12em;
    height: 3em;
  }
  &__logo-item.is--base {
    opacity: 0.2;
  }
  &__logo-item.is--top {
    -webkit-clip-path: inset(0% 100% 0% 0%);
    clip-path: inset(0% 100% 0% 0%);
  }
}

[data-load-reset] {
  opacity: 0;
}
