/* Avenir Black & Medium */
@font-face {
  font-family: "avenir";
  src: url("./../fonts/Avenir.woff2") format("woff2"),
    url("./../fonts/Avenir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "avenirBlack";
  src: url("./../fonts/AvenirBlack.woff2") format("woff2"),
    url("./../fonts/AvenirBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
