body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  // Para eliminar del front el mensaje de que estamos en un sitio de desarrollo generado por WPML
  .otgs-development-site-front-end {
    display: none;
  }
}

main {
  overflow: clip; // funciona como un hidden pero puedes añadir sticky en los hijos
  //   opacity: 0;
}

a {
  color: $cor-primary;
  text-decoration: none;
}

footer {
  margin-top: auto;
}

.century {
  font-family: centurygothic !important;
}

.banner-cerveza,
.block-meet-us {
  &__description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #fed24d;
  }

  &__cta {
    background: #ff0084;
    color: white;
    font-weight: bold;
    padding: 0.75em 2em;
    border-radius: 999px;
    text-decoration: none;
    transition: background 0.3s;

    &:hover {
      background: #e60073;
    }
  }
}

.col-4 h2 {
  /* Permite partir palabras si no caben */
  overflow-wrap: break-word;
  /* estándar moderno */
  word-break: break-all;
  /* más agresivo, pero garantiza que no desborde */

  /* Asegura que, si caben, use varias líneas */
  white-space: normal;
}

.z-4 {
  z-index: 4;
}

[data-anim="lines"],
[data-anim="nav-links"] {
  overflow: hidden;
  visibility: hidden;
  /* se activa vía JS */
}

.line-y {
  transform: translateY(-100%);
}

.line\+\+ {
  overflow: hidden;
}

.line\+\+ > span {
  transform: translateY(100%);
}

#page {
  position: relative;
  z-index: 1;
}

/* recorte limpio */
[data-parallax],
[data-image="parallax"] {
  top: 50%;
  left: 50%;
  width: auto;
  height: 130%;
}
.parallax-box {
  overflow: hidden; /* si usas un contenedor */
}

.pointer-events-none {
  pointer-events: none;
}
