/* _theme-tokens.scss
   Define las variables CSS para modo claro y oscuro.
   Bootstrap debe cargarse antes, así estas reglas lo sobreescriben.
*/

:root,
[data-theme-status="light"] {
  /* ----------- COLORES CORPORATIVOS ----------- */
  //   --cor-primary: #558992;
  --cor-primary: #006374;
  --cor-secondary: #eff0f2;

  /* Colores oscuros */
  --cor-dark: #080807;
  --cor-gray: #d9d9d9;
  --cor-warm-gray: #d6d1ca;
  --cor-light: #eff0f2;

  /* Paleta básica */
  --cor-black: #000000;
  --cor-white: #ffffff;
  --cor-transparent: transparent;

  /* ----------- BOOTSTRAP VARIABLES ----------- */
  --bs-primary: var(--cor-primary);
  --bs-primary-rgb: 0, 99, 116;

  --bs-secondary: var(--cor-secondary);
  --bs-secondary-rgb: 239, 240, 242;

  --bs-dark: var(--cor-dark);
  --bs-dark-rgb: 8, 8, 7;

  --bs-light: var(--cor-light);
  --bs-light-rgb: 239, 240, 242;

  --bs-gray: var(--cor-gray);
  --bs-gray-rgb: 217, 217, 217;

  --bs-body-bg: var(--cor-secondary);
  --bs-body-color: var(--cor-dark);

  /* Para textos, links y bordes */
  --bs-link-color: var(--cor-primary);
  --bs-border-color: var(--cor-gray);

  /* Fondo de cards y elementos UI */
  --bs-card-bg: var(--cor-light);

  //SVG icon color
  --icon-theme-color: var(--cor-dark);
}

[data-theme-status="dark"] {
  /* ----------- COLORES CORPORATIVOS ----------- */
  //   --cor-primary: #88c5cd;
  --cor-primary: #006374;
  --cor-secondary: #121212;

  /* Colores oscuros */
  --cor-dark: #f2f2f2;
  --cor-gray: #2a2b2d;
  --cor-warm-gray: #3a3530;
  --cor-light: #1a1a1a;

  /* Paleta básica */
  --cor-black: #000000;
  --cor-white: #ffffff;
  --cor-transparent: transparent;

  /* ----------- BOOTSTRAP VARIABLES ----------- */
  --bs-primary: var(--cor-primary);
  --bs-primary-rgb: 0, 99, 116;

  --bs-secondary: var(--cor-secondary);
  --bs-secondary-rgb: 18, 18, 18;

  --bs-dark: var(--cor-dark);
  --bs-dark-rgb: 242, 242, 242;

  --bs-light: var(--cor-light);
  --bs-light-rgb: 26, 26, 26;

  --bs-gray: var(--cor-gray);
  --bs-gray-rgb: 42, 43, 45;

  --bs-body-bg: var(--cor-dark);
  --bs-body-color: var(--cor-dark);

  /* Para textos, links y bordes */
  --bs-link-color: var(--cor-primary);
  --bs-border-color: var(--cor-gray);

  /* Fondo de cards y elementos UI */
  --bs-card-bg: var(--cor-gray);

  //SVG icon color
  --icon-theme-color: var(--cor-dark);
}

.btn-darklight {
  color: #131313;
  cursor: pointer;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0.25em;
  outline: 0 transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn-darklight__icon {
  width: 1.25em;
  height: 100%;
  margin-right: 0.25em;
  position: relative;
}

.btn-darklight__icon-box {
  height: 100%;
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  display: flex;
  position: relative;
}

.btn-darklight__icon-box.is--absolute {
  position: absolute;
}

/* Background */
[data-theme-status] {
  transition: background-color 0.4s cubic-bezier(0.35, 1, 0.6, 1);
}
[data-theme-status="dark"] {
  background-color: #070915 !important;
}

/* Button Icon */
.btn-darklight .btn-darklight__icon-box {
  transition: transform 0.8s cubic-bezier(0.35, 1.5, 0.6, 1);
  transform: translateY(0%) rotate(-90deg);
}

[data-theme-status="dark"] .btn-darklight .btn-darklight__icon-box {
  transform: translateY(-100%) rotate(0.001deg);
}

.btn-darklight__icon-box svg {
  color: var(--icon-theme-color);
  transition: color 0.3s ease;
}
